{% extends 'base.html' %}
{% block content %}

<h1>Workout Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Workout #{{ workout.day }}</span>
        <p>Date: {{ workout.date }}</p>
        <p>Duration: {{ workout.duration }} Minutes</p> 
        <p>Weight: {{ workout.weight }} lbs</p>      
        <p>Calories Burned: {{ workout.calories }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'workouts_update' workout.id %}">Edit</a>
        <a href="{% url 'workouts_delete' workout.id %}">Delete</a>
      </div>
    </div>
    {% for photo in workout.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' workout.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
  </div>
  <div class="col s6"> <span class="card-title">What did you eat today?</span>
    <form action="{% url 'add_feeding' workout.id %}" method='post'>
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add Meal">
    </form>
    <br>
    <div class="card-panel red-text center-align">Track your Meals</div>
      <table class="striped">
        <thead>
          <tr><th>Meal</th><th>Calories</th><th>Total Calories</th></tr>
        </thead>
        <tbody>
          {% for feeding in workout.feeding_set.all %}
            <tr>
              <td>{{feeding.get_meal_display}}</td>
              <td>{{feeding.calories}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<hr>
  <div class="col s6">
    <h3>Day {{ workout.day }} Exercises</h3>
    {% if workout.exercises.count %}
      {% for exercise in workout.exercises.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <p>Exercise: {{ exercise.name }}</p>
              <p>Reps: {{ exercise.reps }}</p>
              <p>Sets: {{ exercise.sets }}</p>
            </span> <a href="{% url 'remove_exercise' workout.id exercise.id %}">Remove Exercise</a>
          </div>
        </div>
      {% endfor %}

    {% else %}
      <a href="{% url 'exercises_create' %}">Create an Exercise</a>
    {% endif %}
  </div>


  <div class="col s6">
    <h3>Available Exercises</h3>
    {% if exercises.count %}
      {% for exercise in exercises.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <p>Exercise: {{ exercise.name }}</p>
              <p>Reps: {{ exercise.reps }}</p>
              <p>Sets: {{ exercise.sets }}</p>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_exercise' workout.id exercise.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{workout.day}} Already Has All Exercises Available</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>


{% endblock %}