{% extends 'base.html' %}
{% block content %}

<h1>Workout List</h1>
<div class="display_workout">
{% for workout in workouts %}
<div class="outer_container center-align">
    <div class="card col s4 red accent-4">
      <a href="{% url 'detail' workout.id %}">
        <div class="card-content white-text">
          <span class="card-title">Day Number: {{ workout.day }}</span>
          <p>Date: {{ workout.date }}</p>
          <p>Duration: {{ workout.duration }} Minutes</p> 
        </div>
      </a>
    </div>
</div>
  
{% endfor %}
</div>
{% endblock %}